select {
    width: 100%;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    background-color:#c0e3f8 ;
    
}

label {
    display: block;
    margin-bottom: 5px;

}

#container {
    background-color: #f6f9fa;
    padding: 15px 20px;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;

}
input{
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgb(181, 211, 211);
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color: rgb(64, 187, 42);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}
input[type=reset]{
    width: 100%;
    background-color: rgb(114, 111, 102);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}
input[type=submit]:hover{
    background-color: rgb(70, 194, 216);
}
input[type=reset]:hover{
    background-color:rgb(70, 194, 216);
}

h1 {
    text-align: center;
    color: rgb(67, 13, 218);
}

form div {
    margin-bottom: 15px;
}

.hide {
    display: none;
}
.show {
    display: block;
}