select {
    width: 100%;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    background-color:#c0e3f8 ;
    
}

label {
    display: block;
    margin-bottom: 5px;

}

#container {
    background-color: #f6f9fa;
    padding: 15px 20px;
    border-radius: 10px;
    width: 50%;
    margin-left: 24%;
    
    

}


@media only screen and (max-width:800px){
    /* tablets */
    #container{
        width: 80%;
        margin-left: 8%;
    }

}
@media only screen and (max-width:500px){
    /* mobile phones */
    #container{
        width: 88%;
        margin-left: 1%;
        
    }

}

option {
    font-size: 120%;
    font-family:'Times New Roman', Times, serif ;
    
}

input{
    width: 100%;
    padding: 10px 5px;
    border: 1px solid rgb(181, 211, 211);
    border-radius: 5px;
    box-sizing: border-box;
    
}

input[type=submit]{
    width: 100%;
    background-color: rgb(64, 187, 42);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type=reset]{
    width: 100%;
    background-color: rgb(114, 111, 102);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type=submit]:hover{
    background-color: rgb(70, 194, 216);
    
    
}
input[type=reset]:hover{
    background-color:rgb(70, 194, 216);
}

h1 {
    text-align: center;
    color: rgb(67, 13, 218);
}

form div {
    margin-bottom: 15px;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.error {
    border-color: red;
}

span{
    color: red;
    font-weight: bold;
}